<center> <h1>AllBook</h1></center>
<%= link_to 'create-book', new_admin_book_path , class: "btn btn-new" %>
<table style = "border: 0.5px solid black; text-align: center, font-size: 14px;">
	<tr style = "border: 0.5px solid black;" id = "th">
		<th style = "border: 0.5px solid black;width: 100px">
			Title
		</th>
		<th  style = "border: 0.5px solid black;width: 200px">
			author
		</th >
		<th style = "border: 0.5px solid black;width: 400px">
			description
		</th >
		<th style = "border: 0.5px solid black;width: 100px">
			category
		</th >
		<td style = "border: 0.5px solid black;width: 100px">
			edit 
	</td>
	</tr>
		<tbody id = "append-book">
			<%= render @books %>
		</tbody>

</table>	

