
<ul class="notificator">
	
  <div id="commentContainer"  style="display: none;">
    <div id="commentTitle">comments</div>
    <div id="commentsBody" class="comments">
      <ul id="commentList">
        <%= render comments %>
      </ul>
    </div>
    <div id="commentFooter"></div>
  </div>
</ul>
