
<div class="center jumbotron">
	<h2>
		Xin Chao 500 anh em den voi trang web cua toi 
		toi la le hiep
	</h2>	


	<%= link_to 'creater_post', new_post_path, class: "btn btn-lg btn-primary" %>
</div>
