
            <div class ="col-12 col-sm-6 col-md-4 p-2" style = "float:left">
               <div class="d-flex flex-column text-center border height100">
                  <div>
                  	<%= link_to image_tag("https://i.pinimg.com/736x/67/37/3d/67373d4d12004cc8337fcfe1226698de.jpg", width: "100%" ), book  %>
                  </div>
                  <%= link_to book.title, book %>
               </div>
            </div>