
<tr>
  <td style = "color:black"> 
    <%= link_to book.title, book, id: "countall-#{book.id}", class: "click-in-all-book", data: {id: "#{book.id}"} %>
  </td>
  <td> 
    <%= book.author %>
  </td>
  <td> 
    <%= book.category %>
  </td>
  <td> 
    <%= time_ago_in_words(book.created_at) %>
  </td>
</tr>
