
<div class= "container-fluid">
    <h4>Complex Gallery</h4>
    <div class="row row-cols-4">
        <!-- Gallery Item 1 -->
        <%= render @books %>
    </div>
  
    	<%= render partial: 'shared/pagination', locals: {pagy: @pagy} %> 
	
</div>