<!DOCTYPE html>
<html>
<head>
	<title>confirm order</title>
</head>
<body>
	hello <%= @order.user.email %>
	<% @order.order_details.each do |order_detail|%>
		Product: <%= order_detail.booksale.name %> 
		Quantity: <%= order_detail.quantity %>
	<% end %>

	If not, then click <%= link_to 'here', @url %>here to cancel the order
</body>
</html>