@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


/* universal */

section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;
}

/* typography */

button{
	font-size: 1,5rem;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}
.header-layout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, #000, #fff);
    mix-blend-mode: darken;
    opacity: 0.75;
}
header .logo{
    width: 150px;
}
header .logo img{
    width: 100%;
}
header .menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menubar li{
    list-style: none;
}
header .menubar li a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    color: #fff;
    padding: 0 20px;
}
header .menubar li a:hover{
    color: #606060;
}
header .userbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .userbar li{
    list-style: none;
}
header .userbar li a{
    color: #fff;
    font-size: 30px;
    padding: 0 15px;
    text-decoration: none;
}
header .userbar li i{
    color: #fff;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
}

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer a {
	color: #555;
}
footer a:hover {
	color: #222;
}
footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 15px;
}

div.stars {
  width: 270px;
  display: inline-block;
}
 /*star*/
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}