<ul class="notificator">
	<%= render 'counter' %>
  <div id="activityContainer"  style="display: none;">
    <div id="activityTitle">comments</div>
    <div id="activitiesBody" class="activities">
      <ul id="commentList">
        <%= render activities %>
      </ul>
    </div>
    <div id="activityFooter"></div>
  </div>
</ul>
