<input type="button" name="rate" class = "rates-book" value = "re-rate">
<div class = "rating-book" style = "width: 300px; display: none" >
	<input value="<%= @book.class.name %>" type="hidden" name="rate[rate_duty_type]" id="rate_rate_duty_type">
	<input value="<%= current_user.id %>" type="hidden" name="rate[rate_duty_type]" id="rate-book-user">
	<input value="<%= @book.id %>" type="hidden" name="rate[rate_duty_id]" id="rate_rate_duty_id" class = "creat-rates">
	<input class="star star-5" id="star-5" type="radio" value="5" name="rate[rating]">
	<label class="star star-5" for="star-5"></label>
	<input class="star star-4" id="star-4" type="radio" value="4" name="rate[rating]">
	<label class="star star-4" for="star-4"></label>
	<input class="star star-3" id="star-3" type="radio" value="3" name="rate[rating]">
	<label class="star star-3" for="star-3"></label>
	<input class="star star-2" id="star-2" type="radio" value="2" name="rate[rating]">
	 <label class="star star-2" for="star-2"></label>
	<input class="star star-1" id="star-1" type="radio" value="1" name="rate[rating]"> 
	<label class="star star-1" for="star-1"></label>
	<center><p style="width:50px">
		<input type="button" name="commit" value="rate" class="btn rate-book" data-disable-with="rate"  data-id = "">
	</p></center>
</div>