<div class = "container">
	<div>	
		<h1><%= @chapter.title %></h1>
	</div>
	<div style = "font-size: 14px">
		<%= @chapter.body.html_safe %>
	</div>
	<div>
		
		<%= link_to 'edit', edit_admin_chapter_path(@chapter) %>
	</div>
</div>
