<style type="text/css">
	.column {
  float: left;
  width: 25%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<footer class="footer">
	<div class = "container" >
			<div class="row">
			  <div class="column">
			  	<%= link_to 'contact', "#" %>
			  </div>
			  <div class="column">
			  	<%= link_to 'contact', "#" %>
			  </div>
			  <div class="column">
			  	<%= link_to 'contact', "#" %>
			  </div>
			  <div class="column">
			  	<%= link_to 'contact', "#" %>
			  </div>
			</div>

 
</footer>